<h1>Badge Setter</h1>



<% @users.each do |user| %>
	<p><%= user.email %></p>

	<% user.badges.each do |badge| %>
		<p><%= badge.name %></p>
		<p><%= link_to 'Remove Badge from user', badge, method: :delete, data: {confirm: 'Are you sure?'} %></p>
	<% end %>
<% end %>

<%= link_to 'Assign a Badge', new_badgination_path %><br>
<%= link_to "Add a new badge", :badges %>



<div>
	<p>Edit badges (admins only)</p>
	<% @badginations.each do |badgination| %>
		<p><%= badgination.badge.name %> assigned to</p>
		<p><%= badgination.user.email %></p>

		<p>
			<%= link_to 'Show', badgination %>
			<%- link_to 'Edit', edit_badgination_path(badgination) %>
			<%= link_to 'Unassign', badgination, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>

	<% end %>
</div>

